<html>
<head>
<title>My Custom Slither Embed</title>
<style>
body { margin: 0; }
#slither-embed {
width: 80%;
height: 80%;
border: 0;
}
</style>
</head>
<body>
<iframe id="slither-embed" src="https://slither.io"></iframe>
</body>
</html>
